In [1]:
princ=1234.56
rate = 10
period = 4
print(princ*rate*period/100)

493.82399999999996

PIP = Python Installation Package

# STRING

In [19]:
name = 'Thananya'
address = '1\'st street, chennai'
address = "1'st street, chennai"

name +' '+ address

"Thananya 1'st street, chennai"

In [20]:
name*3

'ThananyaThananyaThananya'

In [21]:
name.upper()

'THANANYA'

In [22]:
'tan murugavel'.capitalize()

'Tan murugavel'

In [17]:
'thananya murugavel'.title()

'Thananya Murugavel'

SEQUENCE OPERATIONS

In [24]:
name[0]

'T'

In [25]:
len(name)

8

In [30]:
#index starts from 0 
# pidx = 01234567
# nidx = 87654321-
name[7]
name[len(name)-1]
name[-1]

'a'

In [32]:
#slice
name[0:4]

'Than'

In [36]:
name[2:5]
name = 'george'
name[2:]

'orge'

In [37]:
sentence = 'the quick brown fox'
sentence[-3:]

'fox'

In [39]:
first = 'MOHANdas'
middle = 'KARAmchaND'
last  = 'GANDHI'

first[0].upper()+'.'+middle[0].upper()+'.'+last.capitalize()

'M.K.Gandhi'

In [40]:
first ='marTIN'
middle ='luther'
last = 'kING'
first[0].upper()+'.'+middle[0].upper()+'.'+last.capitalize()

'M.L.King'

In [41]:
full_name  = first + ' ' + middle + ' ' + last
full_name

'marTIN luther kING'

In [44]:
fullname=full_name.title()

In [45]:
fullname.split()

['Martin', 'Luther', 'King']

In [46]:
fullname .strip()

'Martin Luther King'

In [48]:
name = '  ...thananya  ...  '
name.strip(' .')

'thananya'

In [49]:
fullname.endswith('ing')

True

In [50]:
fullname.endswith('ing') and fullname.startswith('M')

True

In [54]:
fullname

'Martin Luther King'

In [58]:
fullname.find('in')

4

In [59]:
fullname.strip()

'Martin Luther King'

In [60]:
nums = [1,2,3,4]

for num in nums:
    print(num)
    print(num*2)
print('done')

1
2
2
4
3
6
4
8
done

In [63]:
words = sentence.split()
type(words)

list

In [64]:
num = input('Enter number')
num *2

'12341234'

In [65]:
num = int(input('Enter number'))
num * 2

2468

In [73]:
nums = '123.45 325 27 191 8.91'

In [74]:
sum=0
for num in nums.split():
    sum = sum + float(num)

print(sum)

675.36

In [75]:
sentence = '  the  quick   brown  fox jumps over the     lazy dog '

In [77]:
length =0
for word in sentence.split():
    if len(word)>=4:
        length += len(word)

print(length)

23

In [80]:
name = 'George'
for i in range(len(name)):
    for j in range(len(name)):
        if i==j:
            print(name[i])

G
e
o
r
g
e